---
Checks: >
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -bugprone-exception-escape,
    -bugprone-narrowing-conversions,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-narrowing-conversions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-vararg,
    -hicpp-avoid-c-arrays,
    -hicpp-explicit-conversions,
    -hicpp-signed-bitwise,
    -hicpp-uppercase-literal-suffix,
    -hicpp-use-auto,
    -hicpp-vararg,
    -misc-const-correctness,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
    -misc-use-internal-linkage,
    -modernize-avoid-c-arrays,
    -modernize-loop-convert,
    -modernize-return-braced-init-list,
    -modernize-use-auto,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -performance-enum-size,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-math-missing-parentheses,
    -readability-uppercase-literal-suffix,
    -readability-use-std-min-max,
WarningsAsErrors: '*'
HeaderFilterRegex: '' # No headers
...
