# Note: if you make changes here, you may need to make changes in .clang-tidy
# files elsewhere in the tree; clang-tidy-10 doesn't allow selective
# inheritance of parent .clang-tidy files.

---
Checks: >
    -*,
    bugprone-macro-parenthesis,
    bugprone-parent-virtual-call,
    bugprone-sizeof-expression,
    bugprone-string-constructor,
    modernize-use-default-member-init,
    modernize-use-emplace,
    modernize-use-override,
    performance-move-const-arg,
    performance-noexcept-move-constructor,
    performance-trivially-destructible,
    performance-unnecessary-copy-initialization,
    performance-unnecessary-value-param,
    readability-braces-around-statements

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: 'file'
...
