bin/*
build/*
tmp/*
doc/*
include/*
distrib/*

\#*\#
.\#*
*~
*.o
*.a
*.dot
.DS_Store
*.log
/tests
generated.obj
hello-fimage
test.s
testX64
xcuserdata
in.png
_build
*.byte
*.native
a.out
*.cmi
*.cmo
*.cmx
*.cmxa
*.bc
*.cubin
tags
src/*.top
llvm_svn
llvm/*
cpp/*
*.h.gch
src/test_*.ll
src/test_*.s
.clang_complete
*.guru
*.dSYM
.*.swp

# jrk editor settings
.tm_properties
*.sublime-project
*.sublime-workspace

apps/patchmatch

# app intermediates
apps/*/*out*.png
apps/*/*.lowered
apps/*/*.def
apps/*/*.ptx
apps/*/passes.txt
apps/*/*.ll
apps/*/*.sass
apps/*/filter
apps/bilateral_grid/bilateral_grid
apps/bilateral_grid/bilateral_grid.h

# test intermediates
test/*/*.so
test/*/*.s
test/*/*.png
test/*/*.time
test/cpp/*/*.lowered
test/cpp/*/*.sexp
test/cpp/*/*.def
test/cpp/*/*_pseudojit.so
test/cpp/*/*_pseudojit.c
test/cpp/*/*.ptx
test/cpp/*/passes.txt
test/cpp/*/*.h
test/*.h
test/*.o
test/cpp/*/*.o
test/*.ptx
test/*/*.tmp
log.txt
err.txt
test/*.lowered
apps/blur/test
apps/camera_pipe/camera_pipe
apps/camera_pipe/curved.h
apps/camera_pipe/out.png
apps/camera_pipe/process
apps/local_laplacian/local_laplacian
apps/local_laplacian/local_laplacian.h
*.pyc

llvm_test/*.ptx
experiments/CUDABilateralGrid/grid
experiments/CUDABilateralGrid/bf_*.png
src/.tags
apps/blur/halide_blur.s
cpp_bindings/.tags
apps/local_laplacian/ispc/process
apps/local_laplacian/process
src/.tags_sorted_by_file

src/architecture_posix_initmod.ml
apps/error/error
apps/error/f7.h
apps/interpolate/interpolate
apps/seam_carving/seam_carving.h
apps/snake/halide_snake
apps/wavelet/daubechies_x.h
apps/wavelet/haar_x.h
apps/wavelet/inverse_daubechies_x.h
apps/wavelet/inverse_haar_x.h
apps/wavelet/wavelet
