\#*\#
*~
*.o
*.a
*.dot
.DS_Store
*.log
/tests
generated.obj
hello-fimage
test.s
testX64
xcuserdata
in.png
_build
*.byte
*.native
a.out
*.cmi
*.cmo
*.cmx
*.cmxa
*.bc
tags
src/*.top
llvm_svn
*.h.gch
src/test_*.ll
src/test_*.s
.clang_complete

# test intermediates
test/*/*.so
test/*/*.s
test/*/*.png
test/*/*.time
test/cpp/*/passes.txt
test/cpp/*/*.h
test/cpp/*/*.o
test/*.ptx
test/*/*.tmp
