/tutorial/figures/tmp/trace.bin
/apps/HelloMatlab/blurred.png
/apps/HelloMatlab/iir_blur.mex
/apps/local_laplacian/local_laplacian_gen
/apps/local_laplacian/process_viz
/apps/HelloAndroid/jni/halide.h
/apps/HelloNaCl/build_32/halide_game_of_life.h
/apps/HelloNaCl/build_32/halide_game_of_life.s
/apps/HelloNaCl/build_64/halide_game_of_life.h
/apps/HelloNaCl/build_64/halide_game_of_life.s
/apps/HelloNaCl/build_arm/halide_game_of_life.h
/apps/HelloNaCl/build_arm/halide_game_of_life.s
/apps/HelloNaCl/build_pnacl/halide_game_of_life.h
/apps/HelloNaCl/build_pnacl/halide_game_of_life.s
/apps/HelloNaCl/halide_game_of_life
/apps/HelloNaCl/halide_game_of_life_32.s
/apps/HelloNaCl/halide_game_of_life_64.s
/apps/HelloNaCl/halide_game_of_life_arm.s
/apps/HelloNaCl/hello_nacl_32.nexe
/apps/HelloNaCl/hello_nacl_64.nexe
/apps/HelloNaCl/hello_nacl_arm.nexe
/apps/HelloNaCl/hello_pnacl.pexe
/apps/camera_pipe/curved.s
/apps/nacl_demos/build_32/game_of_life.objects
/apps/nacl_demos/build_32/game_of_life_init.h
/apps/nacl_demos/build_32/game_of_life_render.h
/apps/nacl_demos/build_32/game_of_life_update.h
/apps/nacl_demos/build_32/julia.objects
/apps/nacl_demos/build_32/julia_init.h
/apps/nacl_demos/build_32/julia_render.h
/apps/nacl_demos/build_32/julia_update.h
/apps/nacl_demos/build_32/reaction_diffusion.objects
/apps/nacl_demos/build_32/reaction_diffusion_2.objects
/apps/nacl_demos/build_32/reaction_diffusion_2_init.h
/apps/nacl_demos/build_32/reaction_diffusion_2_render.h
/apps/nacl_demos/build_32/reaction_diffusion_2_update.h
/apps/nacl_demos/build_32/reaction_diffusion_init.h
/apps/nacl_demos/build_32/reaction_diffusion_render.h
/apps/nacl_demos/build_32/reaction_diffusion_update.h
/apps/nacl_demos/build_64/game_of_life.objects
/apps/nacl_demos/build_64/game_of_life_init.h
/apps/nacl_demos/build_64/game_of_life_render.h
/apps/nacl_demos/build_64/game_of_life_update.h
/apps/nacl_demos/build_64/julia.objects
/apps/nacl_demos/build_64/julia_init.h
/apps/nacl_demos/build_64/julia_render.h
/apps/nacl_demos/build_64/julia_update.h
/apps/nacl_demos/build_64/reaction_diffusion.objects
/apps/nacl_demos/build_64/reaction_diffusion_2.objects
/apps/nacl_demos/build_64/reaction_diffusion_2_init.h
/apps/nacl_demos/build_64/reaction_diffusion_2_render.h
/apps/nacl_demos/build_64/reaction_diffusion_2_update.h
/apps/nacl_demos/build_64/reaction_diffusion_init.h
/apps/nacl_demos/build_64/reaction_diffusion_render.h
/apps/nacl_demos/build_64/reaction_diffusion_update.h
/apps/nacl_demos/build_arm/game_of_life.objects
/apps/nacl_demos/build_arm/game_of_life_init.h
/apps/nacl_demos/build_arm/game_of_life_render.h
/apps/nacl_demos/build_arm/game_of_life_update.h
/apps/nacl_demos/build_arm/julia.objects
/apps/nacl_demos/build_arm/julia_init.h
/apps/nacl_demos/build_arm/julia_render.h
/apps/nacl_demos/build_arm/julia_update.h
/apps/nacl_demos/build_arm/reaction_diffusion.objects
/apps/nacl_demos/build_arm/reaction_diffusion_2.objects
/apps/nacl_demos/build_arm/reaction_diffusion_2_init.h
/apps/nacl_demos/build_arm/reaction_diffusion_2_render.h
/apps/nacl_demos/build_arm/reaction_diffusion_2_update.h
/apps/nacl_demos/build_arm/reaction_diffusion_init.h
/apps/nacl_demos/build_arm/reaction_diffusion_render.h
/apps/nacl_demos/build_arm/reaction_diffusion_update.h
/apps/nacl_demos/build_pnacl/game_of_life.objects
/apps/nacl_demos/build_pnacl/game_of_life_init.h
/apps/nacl_demos/build_pnacl/game_of_life_render.h
/apps/nacl_demos/build_pnacl/game_of_life_update.h
/apps/nacl_demos/build_pnacl/julia.objects
/apps/nacl_demos/build_pnacl/julia_init.h
/apps/nacl_demos/build_pnacl/julia_render.h
/apps/nacl_demos/build_pnacl/julia_update.h
/apps/nacl_demos/build_pnacl/reaction_diffusion.objects
/apps/nacl_demos/build_pnacl/reaction_diffusion_2.objects
/apps/nacl_demos/build_pnacl/reaction_diffusion_2_init.h
/apps/nacl_demos/build_pnacl/reaction_diffusion_2_render.h
/apps/nacl_demos/build_pnacl/reaction_diffusion_2_update.h
/apps/nacl_demos/build_pnacl/reaction_diffusion_init.h
/apps/nacl_demos/build_pnacl/reaction_diffusion_render.h
/apps/nacl_demos/build_pnacl/reaction_diffusion_update.h
/apps/HelloAndroid/jni/halide_generated.h
/apps/HelloNaCl/.lib32_linked
/apps/HelloNaCl/.lib64_linked
/apps/HelloNaCl/hello_nacl.zip
/apps/HelloNaCl/lib32
/apps/HelloNaCl/lib64
/apps/c_backend/f.tiff
/apps/c_backend/run
/apps/modules/flip_impl.h
/apps/modules/generate_pipeline
/apps/modules/my_library/flip
/apps/modules/my_library/vignette
/apps/modules/pipeline.h
/apps/modules/run_pipeline
/apps/modules/vignette_impl.h
/apps/nacl_demos/game_of_life_init.h
/apps/nacl_demos/game_of_life_render.h
/apps/nacl_demos/game_of_life_update.h
/apps/nacl_demos/julia_init.h
/apps/nacl_demos/julia_render.h
/apps/nacl_demos/julia_update.h
/apps/nacl_demos/nacl_demos.zip
/apps/nacl_demos/nacl_demos_32.nexe
/apps/nacl_demos/nacl_demos_64.nexe
/apps/nacl_demos/nacl_demos_arm.nexe
/apps/nacl_demos/nacl_demos_pnacl.pexe
/apps/nacl_demos/reaction_diffusion_2_init.h
/apps/nacl_demos/reaction_diffusion_2_render.h
/apps/nacl_demos/reaction_diffusion_2_update.h
/apps/nacl_demos/reaction_diffusion_init.h
/apps/nacl_demos/reaction_diffusion_render.h
/apps/nacl_demos/reaction_diffusion_update.h
/apps/HelloNaCl/halide_game_of_life.h
bin/*
build-ios/*
build-osx/*
cmake_build/*
*/build/*
tmp/*
doc/*
include/*
distrib/*
testing/*
msvc/*/Win32/*
msvc/*/x64/*
\#*\#
.\#*
*~
*.o
*.a
*.so
*.dot
.DS_Store
*.log
generated.obj
hello-fimage
test.s
testX64
xcuserdata
in.png
_build
a.out
*.bc
*.cubin
tags
src/*.top
llvm_svn
llvm/*
cpp/*
*.h.gch
src/test_*.ll
src/test_*.s
.clang_complete
*.guru
*.dSYM
.*.swp
Doxyfile

*.txt.user*
.idea

# jrk editor settings
.tm_properties
*.sublime-project
*.sublime-workspace

apps/patchmatch

# app intermediates
apps/*/*out*.png
apps/*/*.lowered
apps/*/*.def
apps/*/*.ptx
apps/*/passes.txt
apps/*/*.ll
apps/*/*.sass
apps/*/filter
apps/bilateral_grid/bilateral_grid
apps/bilateral_grid/bilateral_grid.h
apps/c_backend/pipeline
apps/c_backend/pipeline_c.c
apps/c_backend/pipeline_c.h
apps/c_backend/pipeline_native.h
apps/blur/test
apps/blur/halide_blur.s
apps/camera_pipe/camera_pipe
apps/camera_pipe/curved.h
apps/camera_pipe/out.png
apps/camera_pipe/process
apps/local_laplacian/local_laplacian
apps/local_laplacian/local_laplacian.h
apps/error/error
apps/error/f7.h
apps/interpolate/interpolate
apps/resize/resize
apps/seam_carving/seam_carving.h
apps/snake/halide_snake
apps/wavelet/daubechies_x.h
apps/wavelet/haar_x.h
apps/wavelet/inverse_daubechies_x.h
apps/wavelet/inverse_haar_x.h
apps/wavelet/wavelet
apps/local_laplacian/ispc/process
apps/local_laplacian/process
apps/HelloAndroid*/bin
apps/HelloAndroid*/gen
apps/HelloAndroid*/obj
apps/HelloAndroid*/libs
apps/HelloAndroidGL/jni/halide_gl_filter.h
apps/HelloAndroid*/local.properties
apps/HelloAndroid*/proguard-project.txt

# test intermediates
log.txt
err.txt
test/*.lowered
*.pyc

src/.tags
src/.tags_sorted_by_file

