language: cpp
compiler:
  # Comment out for now to keep build matrix small
  # - clang
  - gcc
env:
  global:
    # The Travis Ubuntu Xenial environment we run in currently promises 2 cores,
    # so running lengthy make steps with -j2 is almost certainly a win.
    - MAKEFLAGS=-j2
  matrix:
    # Configurations
    #
    # Each line in the ``env`` section represents a set of environment
    # variables passed to a build configuration
    #
    # Test a mix of llvm versions, a mix of build systems, and a mix of shared vs static library
    # Don't build as a static library with cmake. It risks exceeding the travis memory limit.
    #
    # Note that gcc5.4 is the default install on Travis Xenial, so we'll just use that.
    - LLVM_VERSION=8.0.0 BUILD_SYSTEM=MAKE
    - LLVM_VERSION=8.0.0 BUILD_SYSTEM=CMAKE HALIDE_SHARED_LIBRARY=1
    - LLVM_VERSION=8.0.0 BUILD_SYSTEM=CMAKE HALIDE_SHARED_LIBRARY=0
    #
    # llvm7 prebuilts are cranky on Travis and give flaky failures; we just skipped them
    # in Trusty and continue to skip them in Xenial.
    # - LLVM_VERSION=7.0.1 BUILD_SYSTEM=MAKE
    #
cache: apt ccache
dist: xenial
install:
  # Travis Xenial uses gcc5.4 / cmake 3.12.4 by default, which are fine
  #
  # Download the right llvm release.
  - wget https://releases.llvm.org/${LLVM_VERSION}/clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-16.04.tar.xz
  - tar xvf clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-16.04.tar.xz
  - sudo mv clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-16.04 /usr/local/llvm
  # Get libpng for the tutorials and apps
  - sudo apt-get -y --force-yes install libpng-dev
  # For generating docs
  - sudo apt-get -y --force-yes --no-install-recommends install doxygen
script:
  - test/scripts/build_travis.sh
