---
InheritParentConfig: true

Checks: >
    -bugprone-branch-clone,
    -bugprone-dynamic-static-initializers,
    -bugprone-sizeof-expression,
    -bugprone-suspicious-include,
    -misc-definitions-in-headers,
...
