# This file lists the python dependencies, 
# it is meant to be used with pip (and/or possibly virtualenv, pbundler, etc)
# See http://pip.readthedocs.org/en/latest/user_guide.html#requirements-files
# You will probably want to run 
# something similar to `pip3 install --user -r requirements.txt`

# science packages
#cython
numpy
scipy
#matplotlib
#scikit-learn

# io
#python3-protobuf
#pillow
#pystache

# helpers
#enum34
#pathlib
#progressbar
#progressbar-latest
#blessings
#contexttimer
#joblib

# testing
nose

# documentation
sphinx
sphinx_rtd_theme

# Regarding C++ dependencies we have
# A C++ compiler (gcc or clang recommended)
# Boost
# Boost.numpy https://github.com/ndarray/Boost.NumPy
# (Halide http://halide-lang.org which itself requires llvm http://llvm.org)
