# In clang-tidy-11 (or maybe clang-tidy-12) you can use
#
#  InheritParentConfig: true
#
# to just inherit from parent .clang-tidy files. Alas,
# that isn't available in clang-tidy-10, so we must make copies
# where specialization is needed.

#
# The desired change here is just to remove two performance checks.
#

---
Checks: >
    -*,
    bugprone-macro-parenthesis,
    bugprone-parent-virtual-call,
    bugprone-sizeof-expression,
    bugprone-string-constructor,
    modernize-use-emplace,
    modernize-use-override,
    performance-move-const-arg,
    performance-noexcept-move-constructor,
    performance-trivially-destructible,
    -performance-unnecessary-copy-initialization,
    -performance-unnecessary-value-param,
    readability-braces-around-statements

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: 'file'
...
