/* General CSS Rules*/
body {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
    background: #f8f8f8;
    padding: 0;
    margin: 0;
    line-height: 14px;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
}

div#page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

b {
    font-weight: normal;
}

table {
    font-size: 12px;
}

/* Visualization tabs */
div#visualization-tabs {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

div.tab {
    overflow: scroll;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    counter-reset: line;
    min-width: 5vw;
    width: 33vw;
}
div.tab.collapsed-tab {
    display: none;
}

div#ir-code-tab {
    counter-reset: line;
    padding-left: 50px;
    padding-top: 20px;
    width: 50vw;
    /*flex-grow: 2;
    flex-shrink: 20;
    flex-basis: 50%;*/
}

div#host-assembly-tab {
    width: 20vw;
    /*
    min-width: 350px;
    width: 30vw;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;*/
}

div#device-code-tab {
    padding-left: 6em;
    width: 30vw;
    /*
    min-width: 550px;
    width: 50vw;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 30%;*/
}

button#highlight-button {
  margin: 0.4em;
  padding: 0.5em;
  border-radius: 4px;
}

span.line {
    counter-increment: line;
}
span.line:before {
    content: counter(line) ".";
    color: rgb(175, 175, 175);
    position: absolute;
    left: 0px;
    width: 4em;
    text-align: right;
}


/* Resize bars */
div.resize-bar {
    background: rgb(201, 231, 190);
    cursor: col-resize;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

div.resize-bar > div.collapse-btns {
    position: relative;
    top: 50%;
    margin: 0px;
}

div.resize-bar > div.collapse-btns button {
    font-size: 11px;
    height: 3em;
    width: 1.5em;
    border-radius: 0;
    margin: 1em 0;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

div.resize-bar > div.collapse-btns button:hover { background-color: rgba(255, 255, 255, 0.5); }
div.resize-bar > div.collapse-btns button.collapse-left:before  { content: "\21E4"; }
div.resize-bar > div.collapse-btns button.collapse-right:before { content: "\21E5"; }

/* Revert collapser button that points to the left. */
div.collapsed-tab + div.resize-bar button.collapse-left {
    background-color: rgba(0, 0, 0, 0.2);
}
div.collapsed-tab + div.resize-bar button.collapse-left:before {
    content: "\21A6";
}
div.resize-bar:has(+ div.collapsed-tab) button.collapse-right {
    background-color: rgba(0, 0, 0, 0.2);
}
div.resize-bar:has(+ div.collapsed-tab) > div.collapse-btns button.collapse-right:before {
    content: "\21A4";
}

button.resize-btn {
    margin: 10px 3px;
    font-size: 18px;
}

/* Resizer Preview */
div#resizer-preview {
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: gray;
    padding: 0;
    margin: 0;
    opacity: 50%;
    z-index: 190000;
}



div#device-code-tab code {
    line-height: 14px;
    white-space: pre;
}

/* IR Code Section CSS */
.ModuleBody {
    padding-left: 70px !important;
}

div.Function, div.Buffer {
    margin: 0.2em 0.0em;
    padding: 0.1em;
    margin-right: 0.8em;
    margin-left: calc(-0.2em - 16px);
    padding-left: calc(0.2em + 16px);
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
}
div.Function + div.Function {
    margin-top: 1.5em; /* Leave space between two functions. */
}
div.Buffer { background-color: rgba(200, 100, 0, 0.025); border-color: rgba(200, 100, 0, 0.03); }

/* Give functions a slightly different background color to visually help navigate quickly. */
div.Function:nth-child(3n + 1) { background-color: rgba(200, 0, 0, 0.025); border-color: rgba(200, 0, 0, 0.03); }
div.Function:nth-child(3n + 2) { background-color: rgba(0, 200, 0, 0.025); border-color: rgba(0, 200, 0, 0.03); }
div.Function:nth-child(3n + 3) { background-color: rgba(0, 0, 200, 0.025); border-color: rgba(0, 0, 200, 0.03); }

/* Give Parallel fors a different color */
div.For { border-radius: 8px; }
div.For.for-type-parallel,
div.For.for-type-gpu_block {
    background-color: rgba(240, 200, 0, 0.03);
    border: 3px solid rgba(240, 200, 0, 0.10);
    margin: 0.2em 0.0em;
    padding: 0.1em;
    margin-right: 0.8em;
    margin-left: calc(-0.2em - 16px);
    padding-left: calc(0.2em + 16px);
}
div.For.for-type-gpu_block div.For.for-type-gpu_block {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
div.For.for-type-gpu_thread {
    background-color: rgba(240, 100, 50, 0.03);
    border: 3px solid rgba(240, 100, 50, 0.10);
    margin: 0.2em 0.0em;
    padding: 0.1em;
    margin-right: 0.8em;
    margin-left: calc(-0.2em - 16px);
    padding-left: calc(0.2em + 16px);
}
div.For.for-type-gpu_thread div.For.for-type-gpu_thread {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

b.Highlight {
    font-weight: bold;
    background-color: #DDD;
}

span.Highlight {
    font-weight: bold;
    background-color: #FF0;
}

span.OpF32 {
    color: hsl(106deg 100% 40%);
    font-weight: bold;
}

span.OpF64 {
    color: hsl(106deg 100% 30%);
    font-weight: bold;
}

span.OpB8 {
    color: hsl(208deg 100% 80%);
    font-weight: bold;
}

span.OpB16 {
    color: hsl(208deg 100% 70%);
    font-weight: bold;
}

span.OpB32 {
    color: hsl(208deg 100% 60%);
    font-weight: bold;
}

span.OpB64 {
    color: hsl(208deg 100% 50%);
    font-weight: bold;
}

span.OpI8 {
    color: hsl(46deg 100% 45%);
    font-weight: bold;
}

span.OpI16 {
    color: hsl(46deg 100% 40%);
    font-weight: bold;
}

span.OpI32 {
    color: hsl(46deg 100% 34%);
    font-weight: bold;
}

span.OpI64 {
    color: hsl(46deg 100% 27%);
    font-weight: bold;
}

span.OpVec2 {
    background-color: hsl(100deg 100% 90%);
    font-weight: bold;
}

span.OpVec4 {
    background-color: hsl(100deg 100% 80%);
    font-weight: bold;
}

span.Memory {
    color: #d22;
    font-weight: bold;
}

span.Pred {
    background-color: #ffe8bd;
    font-weight: bold;
}

span.Label {
    background-color: #bde4ff;
    font-weight: bold;
}

/* Collapse button and indent div logic */
input.show-hide-btn {
    appearance: none;
    margin-left: -17px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    height: 12px;
    vertical-align: top;
}

input.show-hide-btn:before {
    content: ">";
    font-size: 10px;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    text-anchor: middle;
    text-align: center;
    line-height: 9px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: transform 0.2s;
    transform: rotate(90deg);
}

input.show-hide-btn:checked:before {
    transform: rotate(0deg);
}


div.indent {
    box-sizing: border-box;
    border-left: 2px solid transparent;
    padding-left: 25px;
    margin-left: -11px;
}

input.show-hide-btn:hover {
    color: #c30000;
}

/* The structure always has to be <button/><label/><div class=indent>...</div>.
 * All the random buttons, should go in the label.
 */
input.show-hide-btn + label + div.indent {
    max-height: 10000000000px;
    opacity: 1;
    transition: opacity 0.4s, max-height 0.4s;
    border-left: 2px solid transparent;
}

/* TODO: add the same logic for hoving the closing brace. */
input.show-hide-btn:hover + label + div.indent {
    border-left: 2px dotted black;
}
input.show-hide-btn:hover + label > span:last-child,
input.show-hide-btn:hover + label + div.indent + span.ClosingBrace {
    font-weight: bold;
}
input.show-hide-btn:hover + label + div.indent + span.ClosingBrace:after {
    height: 7px;
    width: 7px;
    display: inline-block;
    border-bottom: 2px dotted black;
    border-left: 2px dotted black;
    position: relative;
    left: -18px;
    content: " ";
}

input.show-hide-btn:checked + label + div.indent {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
}
input.show-hide-btn:checked + label > span:last-child:after {
    content: "(collapsed)";
    margin-left: 1em;
    font-style: italic;
    color: gray;
}

button.icon-btn {
    padding: 0 3px;
    margin-left: 2px;
    margin-right: 0px;
    width: 24px;
    height: 14px;
    vertical-align: middle;
    background: transparent;
    font-size: 15px;
    line-height: 12px;
    border: 1px solid black;
    border-radius: 4px;

}
button.icon-btn :before {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
    display: inline-block;
}

button.jump-to-host-asm-btn {
    background:   rgba(255,50,0,0.1);
    border-color: rgb( 255,50,0);
    color:        rgb( 255,50,0);
}
button.jump-to-device-code-btn {
    background:   rgba(70,170,50,0.1);
    border-color: rgb( 70,170,50);
    color:        rgb( 70,170,50);
}

button.jump-to-host-asm-btn span.tooltip span, button.jump-to-device-code-btn span.tooltip span {
    display: block;
    margin-top: 0.6em;
    font-size: 10px;
    font-family: monospace;
    color: green;
}

button.jump-to-host-asm-btn:before, button.jump-to-device-code-btn:before, button.jump-to-viz-btn:before {
    content: "\279F";
}

div#ir-visualization-tab button.icon-btn {
    margin-left: 1px;
}

button.icon-btn:hover {
    border-width: 2px;
    line-height: 10px;
}

code.ptx {
    tab-size: 26;
}

span.comment {
    color: #998;
    font-style: italic;
}

span.keyword {
    color: #333;
    font-weight: bold;
}

span.IntImm {
    color: #099;
}

span.UIntImm {
    color: #099;
}

span.FloatImm {
    color: #099;
}

span.StringImm {
    color: #d14;
}

span.Type {
    color: #445588;
    font-weight: bold;
}

span.Symbol {
    color: #990073;
}

span.Assign {
    color: #d14;
    font-weight: bold;
}

div.WrapLine {
    margin-left: 30px;
    text-indent: -30px;
}

span.OpeningBrace {
    margin-left: 0.3em;
}

span.Comment {
    color: green;
    font-style: italic;
}

span.IfSpan,
span.ClosingBrace,
div.WrapLine,
div.Consumer,
div.Produce,
div.For,
div.Evaluate,
div.Allocate,
div.Function,
div.Buffer,
div.Evaluate {
    counter-increment: line;
}
span.IfSpan:before,
span.ClosingBrace:before,
div.WrapLine:before,
div.Consumer:before,
div.Produce:before,
div.For:before,
div.Evaluate:before,
div.Allocate:before,
div.Function:before,
div.Buffer:before,
div.Evaluat:before {
    font-weight: normal;
    content: counter(line) '. ';
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 50px;
    text-align: right;
    color: rgb(175, 175, 175);
    user-select: none;
    -webkit-user-select: none;
}

.tooltip-parent {
    position: relative;
    overflow: visible;
}

span.tooltip {
    opacity: 1;
    color: black;
    font-weight: normal;
    visibility: hidden;
    left: 50px;
    top: -10px;
    width: max-content;
    position: relative;
    display: block;
    padding: 8px;
    background: #fff7e0;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #aaa;
    z-index: 9999;
    box-shadow: rgba(100, 100, 100, 0.8) 0 2px 5px 0;
    text-indent: 0px;
}

.tooltip-parent:hover span.tooltip {
    visibility: visible;
}

/* Cost model */

div.node-cost {
    position: absolute;
    left: 52px; /* Enough for 4 digit line counter. */
    width: 40px;
}
div.cost-btn {
    width: 16px;
    height: 10px;
    margin-top: 0px;
    /*border: 1px solid rgba(0,0,0,0.1);*/
    position: relative;
    float: left;
    margin-right: 3px;
    box-sizing: border-box;
    outline: 1px solid rgba(0,0,0,0.1);
}
div.cost-btn:hover {
    cursor: pointer;
    /*border: 1px solid lightgray;*/
}


.line-CostColor19   { border-right: 8px solid rgb(130,  31, 27); }
.line-CostColor18   { border-right: 8px solid rgb(145,  33, 30); }
.line-CostColor17   { border-right: 8px solid rgb(160,  33, 32); }
.line-CostColor16   { border-right: 8px solid rgb(176,  34, 34); }
.line-CostColor15   { border-right: 8px solid rgb(185,  47, 32); }
.line-CostColor14   { border-right: 8px solid rgb(193,  59, 30); }
.line-CostColor13   { border-right: 8px solid rgb(202,  71, 27); }
.line-CostColor12   { border-right: 8px solid rgb(210,  82, 22); }
.line-CostColor11   { border-right: 8px solid rgb(218,  93, 16); }
.line-CostColor10   { border-right: 8px solid rgb(226, 104,  6); }
.line-CostColor9    { border-right: 8px solid rgb(229, 118,  9); }
.line-CostColor8    { border-right: 8px solid rgb(230, 132, 15); }
.line-CostColor7    { border-right: 8px solid rgb(231, 146, 20); }
.line-CostColor6    { border-right: 8px solid rgb(232, 159, 25); }
.line-CostColor5    { border-right: 8px solid rgb(233, 172, 30); }
.line-CostColor4    { border-right: 8px solid rgb(233, 185, 35); }
.line-CostColor3    { border-right: 8px solid rgb(233, 198, 40); }
.line-CostColor2    { border-right: 8px solid rgb(232, 211, 45); }
.line-CostColor1    { border-right: 8px solid rgb(231, 223, 50); }
.line-CostColor0    { border-right: 8px solid rgb(236, 233, 89); }
.line-CostColorNone { border-right: transparent; }

.block-CostColor19   { border-left: 8px solid rgb(130,  31, 27); }
.block-CostColor18   { border-left: 8px solid rgb(145,  33, 30); }
.block-CostColor17   { border-left: 8px solid rgb(160,  33, 32); }
.block-CostColor16   { border-left: 8px solid rgb(176,  34, 34); }
.block-CostColor15   { border-left: 8px solid rgb(185,  47, 32); }
.block-CostColor14   { border-left: 8px solid rgb(193,  59, 30); }
.block-CostColor13   { border-left: 8px solid rgb(202,  71, 27); }
.block-CostColor12   { border-left: 8px solid rgb(210,  82, 22); }
.block-CostColor11   { border-left: 8px solid rgb(218,  93, 16); }
.block-CostColor10   { border-left: 8px solid rgb(226, 104,  6); }
.block-CostColor9    { border-left: 8px solid rgb(229, 118,  9); }
.block-CostColor8    { border-left: 8px solid rgb(230, 132, 15); }
.block-CostColor7    { border-left: 8px solid rgb(231, 146, 20); }
.block-CostColor6    { border-left: 8px solid rgb(232, 159, 25); }
.block-CostColor5    { border-left: 8px solid rgb(233, 172, 30); }
.block-CostColor4    { border-left: 8px solid rgb(233, 185, 35); }
.block-CostColor3    { border-left: 8px solid rgb(233, 198, 40); }
.block-CostColor2    { border-left: 8px solid rgb(232, 211, 45); }
.block-CostColor1    { border-left: 8px solid rgb(231, 223, 50); }
.block-CostColor0    { border-left: 8px solid rgb(236, 233, 89); }
.block-CostColorNone { border-color: transparent; }



.line-CostColor19:last-child   { border-right: 8px solid rgb( 31, 27, 130); }
.line-CostColor18:last-child   { border-right: 8px solid rgb( 33, 30, 145); }
.line-CostColor17:last-child   { border-right: 8px solid rgb( 33, 32, 160); }
.line-CostColor16:last-child   { border-right: 8px solid rgb( 34, 34, 176); }
.line-CostColor15:last-child   { border-right: 8px solid rgb( 47, 32, 185); }
.line-CostColor14:last-child   { border-right: 8px solid rgb( 59, 30, 193); }
.line-CostColor13:last-child   { border-right: 8px solid rgb( 71, 27, 202); }
.line-CostColor12:last-child   { border-right: 8px solid rgb( 82, 22, 210); }
.line-CostColor11:last-child   { border-right: 8px solid rgb( 93, 16, 218); }
.line-CostColor10:last-child   { border-right: 8px solid rgb(104,  6, 226); }
.line-CostColor9:last-child    { border-right: 8px solid rgb(118,  9, 229); }
.line-CostColor8:last-child    { border-right: 8px solid rgb(132, 15, 230); }
.line-CostColor7:last-child    { border-right: 8px solid rgb(146, 20, 231); }
.line-CostColor6:last-child    { border-right: 8px solid rgb(159, 25, 232); }
.line-CostColor5:last-child    { border-right: 8px solid rgb(172, 30, 233); }
.line-CostColor4:last-child    { border-right: 8px solid rgb(185, 35, 233); }
.line-CostColor3:last-child    { border-right: 8px solid rgb(198, 40, 233); }
.line-CostColor2:last-child    { border-right: 8px solid rgb(211, 45, 232); }
.line-CostColor1:last-child    { border-right: 8px solid rgb(223, 50, 231); }
.line-CostColor0:last-child    { border-right: 8px solid rgb(233, 89, 236); }
.line-CostColorNone { border-right: transparent; }

.block-CostColor19:last-child   { border-left: 8px solid rgb( 31, 27, 130); }
.block-CostColor18:last-child   { border-left: 8px solid rgb( 33, 30, 145); }
.block-CostColor17:last-child   { border-left: 8px solid rgb( 33, 32, 160); }
.block-CostColor16:last-child   { border-left: 8px solid rgb( 34, 34, 176); }
.block-CostColor15:last-child   { border-left: 8px solid rgb( 47, 32, 185); }
.block-CostColor14:last-child   { border-left: 8px solid rgb( 59, 30, 193); }
.block-CostColor13:last-child   { border-left: 8px solid rgb( 71, 27, 202); }
.block-CostColor12:last-child   { border-left: 8px solid rgb( 82, 22, 210); }
.block-CostColor11:last-child   { border-left: 8px solid rgb( 93, 16, 218); }
.block-CostColor10:last-child   { border-left: 8px solid rgb(104,  6, 226); }
.block-CostColor9:last-child    { border-left: 8px solid rgb(118,  9, 229); }
.block-CostColor8:last-child    { border-left: 8px solid rgb(132, 15, 230); }
.block-CostColor7:last-child    { border-left: 8px solid rgb(146, 20, 231); }
.block-CostColor6:last-child    { border-left: 8px solid rgb(159, 25, 232); }
.block-CostColor5:last-child    { border-left: 8px solid rgb(172, 30, 233); }
.block-CostColor4:last-child    { border-left: 8px solid rgb(185, 35, 233); }
.block-CostColor3:last-child    { border-left: 8px solid rgb(198, 40, 233); }
.block-CostColor2:last-child    { border-left: 8px solid rgb(211, 45, 232); }
.block-CostColor1:last-child    { border-left: 8px solid rgb(223, 50, 231); }
.block-CostColor0:last-child    { border-left: 8px solid rgb(233, 89, 236); }
.block-CostColorNone { border-color: transparent; }


.NoChildCost { border-left: none !important; }

/* Below is the style for the Syntax Highlighting with speed-highlight.
 * It's adapted from the default style from: https://unpkg.com/@speed-highlight/core@1.1.11/dist/themes/default.css
 */
[class*=shj-lang-]{
    white-space:pre;
    background:white;
    color:#112;
    box-shadow:0 0 5px #0001;
    text-shadow:none;
    font: 12px Consolas,Courier New,Monaco,Andale Mono,Ubuntu Mono,monospace;
    line-height:14px;
    box-sizing:border-box;
}
.shj-inline{
    margin:0;
    padding:2px 5px;
    display:inline-block;
    border-radius:5px
}
[class*=shj-lang-]::selection,[class*=shj-lang-] ::selection{
    background:#bdf5
}
[class*=shj-lang-]>div{
    display:flex;
    overflow:auto
}
[class*=shj-lang-]>div :last-child{
    flex:1;
    outline:none
}
.shj-numbers{
    padding-left:5px;
    counter-reset:line
}
.shj-numbers div{
    padding-right:5px;
     width:0;
}
.shj-numbers div:before{
    color:#999;
    display:block;
    content:counter(line);
    opacity:.5;
    text-align:right;
    margin-right:5px;
    counter-increment:line;
    width:5em;
}
.shj-syn-cmnt{
    font-style:italic
}
.shj-syn-err,.shj-syn-kwd{
    color:#e16
}
.shj-syn-num,.shj-syn-class{
    color:#f60
}
.shj-numbers,.shj-syn-cmnt{
    color:#999
}
.shj-syn-insert,.shj-syn-str{
    color:#7d8
}
.shj-syn-bool{
    color:#3bf
}
.shj-syn-type,.shj-syn-oper{
    color:#5af
}
.shj-syn-section,.shj-syn-func{
    color:#84f
}
.shj-syn-deleted,.shj-syn-var{
    color:#f44
}
.shj-oneline{
    padding:12px 10px
}
.shj-lang-http.shj-oneline .shj-syn-kwd{
    background:#25f;
    color:#fff;
    padding:5px 7px;
    border-radius:5px
}
.shj-multiline.shj-mode-header{
    padding:20px
}
.shj-multiline.shj-mode-header:before{
    content:attr(data-lang);
    color:#58f;
    display:block;
    padding:10px 20px;
    background:#58f3;
    border-radius:5px;
    margin-bottom:20px
}

