<style>
body {
  /* Use an off white color to provide contrast around saturated output
   pixels */
  background-color: black;
  color: white;
  font-family: arial;
}

/* Highlight error messages */
.error {
  color: red;
}

/* Draw data, like printed images with a small font. */
.data {
  font-size: 4pt;
}

/* Outline displayed images so that their extent is clearly defined. */
.output {
  border-color: rgb(240,240,250);
  border-style: solid;
  border-width: 5px;
}
</style>

Very simple Halide app<br>

<script type="text/javascript">

// This function appends the specified html string at the end of the document it
// is similar to the -[AppDelegate echo:] function that the app uses to log
// output.
function echo(msg) {
  var body = document.getElementsByTagName("body")[0];
  var node = document.createElement("div");
  node.innerHTML = msg;
  body.appendChild(node);
}

</script>

<!-- The test function will append content here via halide_print(..) -->
