name: Halide Presubmit Checks
on:
  # We don't want 'edited' (that's basically just the description, title, etc)
  # We don't want 'review_requested' (that's redundant to the ones below for our purposes)
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**.h'
      - '**.c'
      - '**.cpp'

jobs:
  check_clang_format:
    name: Check clang-format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: DoozyX/clang-format-lint-action@v0.5
        with:
          source: '.'
          extensions: 'h,c,cpp'
          clangFormatVersion: 9
  check_clang_tidy:
    name: Check clang-tidy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install clang-tidy
        run: |
          sudo apt-get install llvm-9 clang-9 libclang-9-dev clang-tidy-9
          sudo apt-get remove llvm-8 clang-8 libclang-8-dev clang-tidy-8
      - name: Build Compilation DB
        run: |
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DLLVM_DIR=/usr/lib/llvm-9/lib/cmake/llvm -S . -B build
          [ -a build/compile_commands.json ]
      - name: Run clang-tidy
        run: |
          clang-tidy-9 --quiet -extra-arg=-Wno-unknown-warning-option -p build src/*.cpp
  check_cmake_file_lists:
    name: Check CMake file lists
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run test sources check
        run: |
          shopt -s nullglob
          diff <(awk '/SOURCES/{flag=1;next} /\)/{flag=0} flag{print$1}' test/auto_schedule/CMakeLists.txt | sort) <(cd test/auto_schedule; ls -1 *.{c,cpp} | sort)
          diff <(awk '/SOURCES/{flag=1;next} /\)/{flag=0} flag{print$1}' test/correctness/CMakeLists.txt | sort) <(cd test/correctness; ls -1 *.{c,cpp} | sort)
          diff <(awk '/SOURCES/{flag=1;next} /\)/{flag=0} flag{print$1}' test/error/CMakeLists.txt | sort) <(cd test/error; ls -1 *.{c,cpp} | sort)
          diff <(awk '/SOURCES/{flag=1;next} /\)/{flag=0} flag{print$1}' test/failing_with_issue/CMakeLists.txt | sort) <(cd test/failing_with_issue; ls -1 *.{c,cpp} | sort)
          diff <(awk '/SOURCES/{flag=1;next} /\)/{flag=0} flag{print$1}' test/opengl/CMakeLists.txt | sort) <(cd test/opengl; ls -1 *.{c,cpp} | sort)
          diff <(awk '/SOURCES/{flag=1;next} /\)/{flag=0} flag{print$1}' test/performance/CMakeLists.txt | sort) <(cd test/performance; ls -1 *.{c,cpp} | sort)
          diff <(awk '/SOURCES/{flag=1;next} /\)/{flag=0} flag{print$1}' test/warning/CMakeLists.txt | sort) <(cd test/warning; ls -1 *.{c,cpp} | sort)
