name: Halide Presubmit Checks
on:
  # We don't want 'edited' (that's basically just the description, title, etc)
  # We don't want 'review_requested' (that's redundant to the ones below for our purposes)
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**.h'
      - '**.c'
      - '**.cpp'

jobs:
  check_clang_format:
    name: Check clang-format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: DoozyX/clang-format-lint-action@v0.7
        with:
          source: '.'
          extensions: 'h,c,cpp'
          clangFormatVersion: 10
  check_clang_tidy:
    name: Check clang-tidy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install clang-tidy
        run: |
          sudo apt-get update
          sudo apt-get install llvm-10 clang-10 libclang-10-dev clang-tidy-10 ninja-build
          sudo apt-get remove llvm-8 clang-8 libclang-8-dev clang-tidy-8 llvm-9 clang-9 libclang-9-dev clang-tidy-9
      - name: Run clang-tidy
        run: |
          export CC=clang-10
          export CXX=clang++-10
          export CLANG_TIDY_LLVM_INSTALL_DIR=/usr/lib/llvm-10
          ./run-clang-tidy.sh
  check_cmake_file_lists:
    name: Check CMake file lists
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run test sources check
        run: |
          shopt -s nullglob
          (cd test/auto_schedule       && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
          (cd test/correctness         && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
          (cd test/error               && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
          (cd test/generator           && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
          (cd test/failing_with_issue  && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
          (cd test/opengl              && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
          (cd test/performance         && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
          (cd test/warning             && comm -23 <(ls *.{c,cpp} | sort) <(grep -P '^\s*#?\s*[A-Za-z0-9_.]+$' CMakeLists.txt | tr -d '# ' | sort) | tee missing_files && [ ! -s missing_files ])
